[*.cs]

# RCS1080: Use 'Count/Length' property instead of 'Any' method.
dotnet_diagnostic.RCS1080.severity = none

# IDE0042: Deconstruct variable declaration
dotnet_diagnostic.IDE0042.severity = silent

# RCS1018: Add accessibility modifiers (or vice versa).
dotnet_diagnostic.RCS1018.severity = none
